<div class="perfil-card">

  <div class="imagen">
    <ion-slides pager="true">
      <ion-slide *ngFor="let foto of perfil.fotosServicio">
        <div class="imagen-card">
          <ion-img [src]="foto"></ion-img>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="header">
    <h2>{{perfil.servicioTitulo}}</h2>
    <ion-card-subtitle>
      <ion-label>
        4.8(15)
        <ion-icon name="star-sharp" class="star-icon" slot="end"></ion-icon>
      </ion-label>
    </ion-card-subtitle>
  </div>

  <!-- <div class="contenido">
    <p>{{perfil.servicioDescripcion}}</p>
  </div>-->

</div>