<div class="perfil-card" align="center">

  <div class="estrella">
    <ion-label>
      <ion-icon name="star-sharp" class="star-icon"></ion-icon>
    </ion-label>
    <h2>{{perfil.calificacion}}</h2>
  </div>

  <ion-avatar *ngIf="perfil.foto">
    <ion-img [src]="perfil.foto"></ion-img>
  </ion-avatar>

  <ion-avatar *ngIf="!perfil.foto">
    <ion-img [src]="sinFotoUrl"></ion-img>
  </ion-avatar>

  <div class="personal-info">
    <h2>{{perfil.nombre}} {{perfil.apellidoPat}} {{perfil.apellidoMat}}</h2>
    <p>{{perfil.descripcion}}</p>
  </div>

</div>