<div class="perfil-actividades">

  <div class="actividad">
    <ion-icon name="checkmark-circle" ></ion-icon>
    <h2>Limpieza de casa</h2>
  </div>
  
  <div class="actividad">
    <ion-icon name="checkmark-circle" slot="start"></ion-icon>
    <h2>Limpieza de baño</h2>
  </div>
 
  <div class="actividad">
    <ion-icon name="checkmark-circle" slot="start"></ion-icon>
    <h2>Limpieza de azulejos</h2>
  </div>

  <div class="actividad">
    <ion-icon name="checkmark-circle" slot="start"></ion-icon>
    <h2>Limpieza de ventanas</h2>
  </div>

</div>