  <div class="perfil-avatar">

    <ion-avatar *ngIf="perfil.foto" slot="end">
      <ion-img [src]="perfil.foto"></ion-img>
    </ion-avatar>

    <ion-avatar *ngIf="!perfil.foto" slot="end">
      <ion-img [src]="sinFotoUrl"></ion-img>    
    </ion-avatar>

    <div class="personal-info">
      <h2>{{perfil.nombre}} {{perfil.apellidoPat}} {{perfil.apellidoMat}}</h2>
      <div>
        <ion-label>
          <ion-icon name="star-sharp" class="star-icon" slot="end"></ion-icon>
          <ion-icon name="star-sharp" class="star-icon" slot="end"></ion-icon>
          <ion-icon name="star-sharp" class="star-icon" slot="end"></ion-icon>
          <ion-icon name="star-sharp" class="star-icon" slot="end"></ion-icon>
          <ion-icon name="star-half-outline"></ion-icon>
        </ion-label>
        4.8/5 (15)
      </div>
      <p>{{perfil.descripcion}}</p>
    </div>

    
  </div>
