:host { 
	
	h1 {
		text-align: center;
		font-weight: bold;
		color: var(--ion-color-dark);
		font-size: 2rem;
		font-family: "Roboto";
		text-transform: uppercase;
    }
    .item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h {
        --color: var(--ion-color-secondary);
    }
	
	form {
        width: 90%;
        margin: 0 auto;
    }
	
	.full-button.ion-color-primary {
		font-size: 20px;
		--padding: 13px 15px;
		height: 45px;
		opacity: 1;
	}
	
	.button-native {
		--padding-start: 13px;
		--padding-end: 13px;
	}
	
	.item {
		--background: transparent;
		opacity: 1;
		border-bottom: 1px solid var(--ion-color-secondary);
		color: var(--ion-color-dark);
		margin: 10px 0 30px;
	}
	
	ion-input {
		--background: transparent;
	}
	.simple-link {
		color: var(--ion-color-secondary);
		font-size: 18px;
		text-align: center;
		margin: 10px 0;
		background: none !important;
		border-bottom: 2px solid var(--ion-color-secondary);
		text-transform: uppercase;
		padding: 5px 0;
	}
}
