<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <button class="back-button" (click)="goHome()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="perfil">
    <app-perfil-avatar [perfil]="perfil"></app-perfil-avatar>
  </div>
    <h1>Mi Perfil</h1>
    <form [formGroup]="perfilForm">
      <ion-item> 
        <ion-label>Nombre</ion-label>
        <ion-input type="text" formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label>Apellidos</ion-label>
        <ion-input type="text" formControlName="apellidos"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label>Telefono</ion-label>
        <ion-input type="text" formControlName="telefono"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Correo</ion-label>
        <ion-input type="text" formControlName="email" readonly="true"></ion-input>
      </ion-item>
      
      <ion-button (click)="onSubmit()" class="full-button" type="submit" expand="full" color="primary">Guardar Cambios</ion-button>

    </form>
</ion-content>
<app-menu [selectedTab]="'perfil'"></app-menu>
