<ion-content padding>
  <div class="perfil">
    <app-perfil-avatar [perfil]="perfil"></app-perfil-avatar>
  </div>
    <h1>Mi Perfil</h1>
    <form [formGroup]="perfilForm">
      <ion-item> 
        <ion-label>Nombre</ion-label>
        <ion-input type="text" formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label>Apellidos</ion-label>
        <ion-input type="text" formControlName="apellidos"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label>Telefono</ion-label>
        <ion-input type="text" formControlName="telefono"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Correo</ion-label>
        <ion-input type="text" formControlName="email" readonly="true"></ion-input>
      </ion-item>
      
      <ion-button (click)="onSubmit()" class="full-button" type="submit" expand="full" color="primary">Guardar Cambios</ion-button>

    </form>
    <div align="center">
      <button class="simple-link" (click)="logout()">Cerrar sesión</button>
    </div>

</ion-content>
<div *ngIf = "appData.beeworker == null">
  <app-menu [selectedTab]="'perfil'"></app-menu>
</div>

<div *ngIf = "appData.beeworker != null">
  <app-menu-beeworker [selectedTab]="'perfil'"></app-menu-beeworker>
</div>
