<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <button class="back-button">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>LIMPIEZA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="precio card">
    <h4>3 HRS</h4>
    <h4>$300 MXN</h4>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>
