<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <button class="back-button">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>LIMPIEZA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="precio card">
    <h4>{{appData.datosCita.tiempo}} HRS</h4>
    <h4>$300 MXN</h4>
  </div>

  <app-datos-cita [(idPerfil)] = "this.appData.datosCita.id_empleado"></app-datos-cita>

  <ion-button class="full-button" expand="full" color="primary" (click)="confirmar()">CONFIRMAR</ion-button>
</ion-content>

<app-menu></app-menu>