<div class="principal">
  
  <h1>AGOSTO</h1>

  <div class="reserva">  
    <div class="fecha">
      <h2>5</h2>
      <h3>AGO</h3>
    </div>
    <div class="informacion">
      <p>Limpieza</p>
        <ion-card-subtitle>
          <ion-label>
            16:00-17:00
            <ion-icon name="time-outline" class="star-icon" slot="end"></ion-icon>
          </ion-label>
        </ion-card-subtitle>
    </div>
  </div>

  <div class="reserva">  
    <div class="fecha">
      <h2>14</h2>
      <h3>AGO</h3>
    </div>
    <div class="informacion">
      <p>Limpieza</p>
        <ion-card-subtitle>
          <ion-label>
            12:00-15:00
            <ion-icon name="time-outline" class="star-icon" slot="end"></ion-icon>
          </ion-label>
        </ion-card-subtitle>
    </div>
  </div>


</div>