<div class="principal">
  
  <div *ngFor="let agenda of agendas" class="reserva" (click)="abrirDetalles(agenda)">  
    <div class="fecha">
      <h2>{{agenda.fecha | date:'dd'}}</h2>
      <h2>{{agenda.fecha | date:'MMM'}}</h2>
    </div>
    <div class="informacion">
      <p>Limpieza</p>
        <ion-card-subtitle>
          <ion-label>
            {{agenda.hora_inicial}} - {{agenda.hora_final}} 
            <ion-icon name="time-outline" class="star-icon" slot="end"></ion-icon>
          </ion-label>
        </ion-card-subtitle>
    </div>
  </div>


</div>