
  <ng-container *ngIf="resenas && resenas.length > 0">

    <h1>Reseñas</h1>

    <div *ngFor="let resena of resenas" class="perfil-avatar">
      <ng-container *ngIf="resena.idUsuarioCalificador">
        <ion-avatar slot=" start">
          <ion-img [src]="resena.idUsuarioCalificador.foto"></ion-img>
        </ion-avatar>
        <div class="personal-info">
          <h2>{{resena.idUsuarioCalificador.nombre}}
            {{resena.idUsuarioCalificador.apellidoPat}}
            {{resena.idUsuarioCalificador.apellidoMat}}</h2>
          <p>{{resena.justificacion}}</p>
        </div>
      </ng-container>
    </div>

  </ng-container>

