
<ion-content>
  <app-perfil-avatar></app-perfil-avatar>

  <ion-card>
    <ion-item>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <div class="imagen-card">
            <ion-img [src]="perfil.fotoServicio3"></ion-img>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="imagen-card">
            <ion-img [src]="perfil.fotoServicio2"></ion-img>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="imagen-card">
            <ion-img [src]="perfil.fotoServicio1"></ion-img>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-item>
    <ion-item lines="full">
      <ion-label> {{perfil.servicioDescripcion}}</ion-label>
      <ion-icon name="star-sharp"></ion-icon>
      <ion-label slot="end"> 4.8 (15)</ion-label>
    </ion-item>
    
    <ion-card-content>
      {{perfil.descripcion}}
     </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item class="ion-activated">
      <ion-icon name="home-sharp" slot="start"></ion-icon>
      <ion-label>Limpieza de casa</ion-label>
    </ion-item>

    <ion-item class="ion-activated">
      <ion-icon name="checkmark-circle" slot="start"></ion-icon>
      <ion-label>Limpieza de baño</ion-label>
    </ion-item>

    <ion-item class="ion-activated">
      <ion-icon name="checkmark-circle" slot="start"></ion-icon>
      <ion-label>Limpieza de azulejos</ion-label>
    </ion-item>

    <ion-item class="ion-activated">
      <ion-icon name="checkmark-circle" slot="start"></ion-icon>
      <ion-label>Limpieza de ventanas</ion-label>
    </ion-item>
  </ion-card>
</ion-content>




