h1{
    font-weight: bold;
    color:black;
    font-family: "Roboto";
    margin-left: 5px;
}

h2{
    color:black;
    font-family: "Roboto";
    margin-left: 5px;
}

button.back-button {
    background: transparent;
    font-size: 22px;
    color: var(--ion-color-primary);
}