<ion-content>
  <div #mapElement id="map">

    <!--<img class="logo" src="../../assets/imgs/beetrim.png" />-->
    <div class="search-container">
      <input [(ngModel)]="address" name="address" placeholder="Ingresa tu dirección"/>
      <ion-icon name="search"></ion-icon>
  </div>

  <ion-button class="full-button" expand="full" color="primary" (click)="agendar()">AGENDAR</ion-button>

  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="footer-menu">
      <button class="icon-button active" expand="block" color="primary" (click)="getAddress()">
        <ion-icon name="home-outline"></ion-icon>
        <p>Inicio</p>
      </button>

      <button class="icon-button" expand="block" color="primary" (click)="goToAgenda()">
        <ion-icon name="calendar-outline"></ion-icon>
        <p>Reservas</p>
      </button>

      <button class="icon-button" expand="block" color="primary" (click)="goToPerfil()">
        <ion-icon name="person-circle-outline"></ion-icon>
        <p>Perfil</p>
      </button>

      <button class="icon-button" expand="block" color="primary" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        <p>Cerrar sesión</p>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>