<ion-header>
  <div class="search-container">
    <ion-icon name="search"></ion-icon>
    <input name="search" placeholder="¿Qué buscas?" />
  </div>
</ion-header>

<ion-content>
  <h1 class="simple-title">SERVICIOS</h1>

  <!-- Colors -->
<ion-button color="primary" expand="full">Primary</ion-button>
<ion-button color="secondary" expand="block">Secondary</ion-button>
<ion-button color="tertiary" shape="round">Tertiary</ion-button>
<ion-button color="success" expand="full" fill="outline">Success</ion-button>
<ion-button color="warning" size="large">Warning</ion-button>
<ion-button color="danger" size="small">Danger</ion-button>
<ion-button color="light" expand="full">Light</ion-button>
<ion-button color="medium" expand="full" >Medium</ion-button>
<ion-button color="dark"expand="full" >Dark</ion-button>


  <ion-card>
    <ion-card-content>
        <ion-card-title>LIMPIEZA</ion-card-title>
        <ion-button size="large" class="icon-btn" (click)="seeList()">
            <ion-icon name="calendar"></ion-icon>
        </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
        <ion-card-title>LIMPIEZA</ion-card-title>
        <ion-button size="large" class="icon-btn" (click)="seeList()">
            <ion-icon name="calendar"></ion-icon>
        </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
        <ion-card-title>LIMPIEZA</ion-card-title>
        <ion-button size="large" class="icon-btn" (click)="seeList()">
            <ion-icon name="calendar"></ion-icon>
        </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-menu">
      <button class="icon-button active" expand="block" color="primary" (click)="goToHome()">
        <ion-icon name="home-outline"></ion-icon>
        <p>Inicio</p>
      </button>

      <button class="icon-button" expand="block" color="primary" (click)="goToAgenda()">
        <ion-icon name="calendar-outline"></ion-icon>
        <p>Agenda</p>
      </button>

      <button class="icon-button" expand="block" color="primary" (click)="goToPerfil()">
        <ion-icon name="person-circle-outline"></ion-icon>
        <p>Perfil</p>
      </button>

      <button class="icon-button" expand="block" color="primary" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        <p>Cerrar sesión</p>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>